@charset "UTF-8";
body, input, button { font-family: "Microsoft YaHei", "SimSun", "SimHei", "NSimSun", "FangSong", "KaiTi"; }

a { cursor: pointer; }

/*! yuan  style*/
.yuan_box { position: fixed; left: 95%; top: 40%; }
.yuan_box .yuan { border-radius: 50%; height: 10px; width: 10px; background-color: #84C0FF; margin-top: 15px; display: block; padding: 5px; }

.nav-tabs { border-bottom: none; }

/*! nav  style*/
@media (max-width: 768px) { .navbar-header { height: 100px; }
  .navbar-fixed-bottom { position: none; } }
@media (max-width: 768px) { .navbar-fixed { bottom: 0; margin-bottom: 0; border-width: 1px 0 0; position: fixed; right: 0; left: 0; z-index: 1030; } }
@media (min-width: 992px) { .nav_top { height: 90px; } }
@media (min-width: 768px) and (max-width: 992px) { .navbar-header { margin-top: 6%; }
  .nav_box .top_right { margin-top: 65px; }
  .nav_li { margin-right: 1px; }
  .nav_sx1, .nav_sx2 { display: none; } }
.collapse .nav li a { height: 90px; line-height: 90px; color: #FFFFFF; }
.collapse .nav li a:hover { color: #FFFFFF; }
.collapse .nav li a:focus { color: #4B82EC; }

#nav_ul { padding-right: 0; font-size: 18px; }
#nav_ul a { padding: 0; padding-top: 20px; line-height: 52px; }
#nav_ul li { padding: 0; }
#nav_ul span:first-child { width: 72px; }

.nav_top { background-color: #182141; }

.span_active { display: inline-block; height: 55px; border-bottom: 2px solid #4B82EC; }

.top_right { margin-top: 35px; }
.top_right .nav_top_left { padding: 0; text-align: center; }
.top_right .nav_top_right { padding: 0; text-align: center; }

.nav_sx2 { height: 55px; border-left: 2px solid #3E4458; float: left; margin-top: 20px; }

.nav_sx1 { height: 55px; border-left: 2px solid #151B2F; float: left; margin-top: 20px; }

.navbar-fixed-top { border-width: 0; }

/*  ------first   style   */
.video_style { padding: 0; }

/*  ------second   style   */
.three_wenzi { color: #078CEE; }
.three_wenzi p { margin: 0 0 60px; font: 30px, "microsoft Yahei"; font-size: 30px; }

.three_box { width: 100%; height: 752px; background-color: #11162B; padding-top: 110px; }
.three_box img { opacity: 1; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.three_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ opacity: 0.2; }

/*  ------third   style   */
.four_box { background-color: #182141; width: 100%; height: 752px; }
.four_box img { margin-top: 100px; margin-bottom: 80px; }

.four_p p { color: #E0E1E4; }

/*  ------fourth   style   */
.five_box.four_box { background-color: #11162B; }

/*  ------fifth    style   */
.six_box { height: 752px; background-color: #182141; }
.six_box img { height: 150px; margin-bottom: 90px; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.six_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ }
.six_box .six_top { margin-top: 40px; line-height: 160px; }
.six_box .six_top span { color: #0185E3; font-size: 25px; }
.six_box .six_bottom { margin: 0; }
.six_box .six_bottom span { color: #FAFAFB; }

/*  ------buttom   style   */
.navbar-default.navbar-fixed-bottom, .bottom_box { background-color: #11162B; }
.navbar-default.navbar-fixed-bottom .bottom_top, .bottom_box .bottom_top { width: 515px; color: #F9F9F9; }
.navbar-default.navbar-fixed-bottom .bottom_top div, .bottom_box .bottom_top div { padding: 0; }
.navbar-default.navbar-fixed-bottom .bottom_top span, .bottom_box .bottom_top span { font: 20px, "microsoft Yahei"; border-right: 2px solid #F9F9F9; width: 130px; display: block; height: 23px; line-height: 25px; margin-top: 17%; }
.navbar-default.navbar-fixed-bottom .bottom_buttom, .bottom_box .bottom_buttom { color: #F9F9F9; margin-top: 20px; }

/*  ------brand   style   */
.active_a { background-color: #4B82EC; }

.cantent_box { margin-top: 15px; margin-bottom: 15px; }
.cantent_box ul { border: 1px solid #CCCCCC; border-radius: 5px 5px; margin-top: 10%; padding: 5px; }
.cantent_box ul li { width: 100%; }
.cantent_box ul li a { margin: auto; border-radius: 5px 5px; color: #000000; }
.cantent_box ul li a:hover { background-color: #CCCCCC; }
.cantent_box ul li a:focus { background-color: #4B82EC; }
.cantent_box ul li span { border-bottom: 1px solid #CCCCCC; width: 80%; display: block; margin: auto; }

.content_tupian img { margin-top: 15px; }

/*  ------register   style   */
@media (min-width: 768px) { .input_width { width: 83%; } }
.register_cantent_box { background-color: #FFFFFF; }
.register_cantent_box .row { margin: 3% auto; }
.register_cantent_box .register_hy { font-size: 23px; color: #CCCCCC; padding: 0; }
.register_cantent_box .register_dl { padding: 0; font-size: 16px; }
.register_cantent_box .register_dl p { color: #CCCCCC; }
.register_cantent_box .register_dl a { color: red; }
.register_cantent_box .col-md-10.col-md-offset-1 img { padding: 0; }
.register_cantent_box .register_input_1 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_1 input { border: 0; outline: none; width: 84%; }
.register_cantent_box .register_input_2 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_2 input { border: 0; outline: none; width: 89%; }
.register_cantent_box .register_input_2 button { background-color: #4B82EC; color: white; float: right; border: 0; }
.register_cantent_box .register_input_3 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_3 input { border: 0; outline: none; }
.register_cantent_box .register_input_4 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_4 input { border: 0; outline: none; }
.register_cantent_box .register_bottom_but { background-color: #4B82EC; color: white; }
.register_cantent_box .register_inpbox_5, .register_cantent_box .register_bottom_but { margin-top: 10px; }
.register_cantent_box .register_inpbox_1, .register_cantent_box .register_inpbox_2, .register_cantent_box .register_inpbox_3, .register_cantent_box .register_inpbox_4 { height: 60px; }
.register_cantent_box .finish_border { border: 2px solid #CCCCCC; width: 91%; margin: 0 auto; margin-bottom: 40px; }
.register_cantent_box .finish_border p { margin: 45px 0; }
.register_cantent_box .finish_border button { height: 47px; margin-bottom: 50px; background-color: #4374D4; color: white; }

/*  ------news   style   */
.news_navbar { margin-bottom: 0; }

.news_row:hover { cursor: pointer; }

.news_row { margin-left: 130px; margin-right: 130px; margin-top: 3%; }
.news_row p:nth-child(2) { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.news_row .news_ck { background-color: #706F6F; color: white; height: 30px; width: 80px; text-align: center; display: block; padding-top: 4px; float: left; }
.news_row .news_ck + span { float: right; }
.news_row .news_img_box { border: 1px solid #A7A7A7; padding: 5px; }
.news_row .news_hx { border: 1px solid #A7A7A7; margin-top: 10px; }

#news_img_change { border: 1px solid red; }

#news_p_change { color: red; }

#news_span_change { background-color: red; }

/*  ------serve   style   */
@media (max-width: 992px) { #serve_top_ma { margin-left: -6%; }
  .serve_top_p { margin-top: 10px; } }
@media (max-width: 768px) { #serve_top_ma { margin-left: -6%; }
  .serve_top_p { margin-top: 20px; } }
#serve_top_ma { margin-left: -16%; }

.serve_top_row { margin: 2% 3% 2% 10%; }
.serve_top_row img { margin-top: 2%; }
.serve_top_row div:nth-child(4) { margin-top: 3%; }
.serve_top_row div:nth-child(4) p:first-child { font-size: 20px; color: #F67A2F; margin-bottom: 0; }
.serve_top_row .serve_top_p P { margin-bottom: 0; }
.serve_top_row .serve_top_p p:first-child { border-bottom: 1px dashed #CCCCCC; padding-bottom: 5px; margin-bottom: 5px; }

.serve_top_row1 { margin: 4% 17%; }
.serve_top_row1 img { float: left; margin-right: 5px; }

.serve_center_p p:nth-of-type(1) { color: #000000; font-size: 18px; }
.serve_center_p p:nth-of-type(2) { color: #868686; }

.serve_yy { -webkit-box-shadow: 0 0 6px; -moz-box-shadow: 0 0 6px; box-shadow: 0 0 6px; border-bottom: 1px solid #CCCCCC; }

@media (max-width: 992px) { .serve_buttom { line-height: 40px; } }
.serve_buttom_box { margin: 4% 10%; }
.serve_buttom_box img { margin-right: 20px; }
.serve_buttom_box .serve_buttom { line-height: 80px; color: #4D83EC; margin-left: 5px; }

/*  ------路member   style   */
.member_content_box { background-color: rgba(0, 0, 0, 0.5); height: 325px; width: 300px; padding-top: 2%; position: absolute; top: 110px; left: 960px; }
.member_content_box .mima { color: white; margin-left: 5%; margin-bottom: 10%; }
.member_content_box .member_input_top { height: 35px; margin: 0 auto; }
.member_content_box .member_input_topleft, .member_content_box .member_input_bottomleft { background-color: #DDDDDD; width: 35px; height: 35px; float: left; border-radius: 3px 0 0 3px; }
.member_content_box .first { color: white; margin: 0 auto; font-size: 25px; }
.member_content_box .member_input_topright, .member_content_box .member_input_bottomright { border: 0; float: left; height: 35px; padding-left: 5px; width: 87%; }
.member_content_box .last { color: white; margin: 0 auto; font-size: 28px; }
.member_content_box .member_btn { width: 100%; padding: 0; border: 0; height: 40px; color: white; background-color: #FF4400; margin-top: 7%; border-radius: 5px; }
.member_content_box .member_bottom { color: white; margin-left: 50%; margin-top: 22%; }
.member_content_box .member_span { margin-left: 10%; }

/*  ------ contact   style   */
@media (max-width: 992px) { .contact_input_box { padding-right: 0; } }
.contact_img { margin-top: 20px; margin-bottom: 20px; }

.contact_input_box { padding-left: 0; }
.contact_input_box input { margin-bottom: 13px; }

/*# sourceMappingURL=index.css.map */
