a { cursor: pointer; }

/*! yuan  style*/
.yuan_box { position: fixed; left: 95%; top: 40%; }
.yuan_box .yuan { border-radius: 50%; height: 10px; width: 10px; background-color: #84C0FF; margin-top: 15px; display: block; padding: 5px; }

.nav-tabs { border-bottom: none; }

/*! nav  style*/
.img { height: 80px; width: 250px; }

.nav_logo { padding: 5px 15px; }

.collapse .nav li { width: 15%; }
.collapse .nav li a { height: 90px; line-height: 90px; color: #FFFFFF; }
.collapse .nav li a span { height: 60px; width: 106px; display: block; }
.collapse .nav li a span:hover { border-bottom: 4px solid #4B82EC; padding-bottom: 20px; }
.collapse .nav li a:hover { color: #FFFFFF; }

#nav_ul { width: 63%; }
#nav_ul a { padding: 0; }

.nav_top { background-color: #182141; }

.top_right { margin-top: 33px; margin-right: 31px; }
.top_right img { height: 22px; width: 22px; background-color: #80BAF8; float: left; }
.top_right a { float: left; }
.top_right .nav_top_left { float: right; }
.top_right .nav_top_right { float: right; margin-right: 15px; }

.navbar-fixed-top { border-width: 0; }

/*  ------first   style   */
.video_style { padding: 0; margin-top: 90px; }

/*  ------second   style   */
.three_wenzi { color: #078CEE; }
.three_wenzi p { margin: 65px 0 60px; font: 30px, "microsoft Yahei"; font-size: 30px; }

.three_box { width: 100%; height: 752px; background-color: #11162B; padding-top: 75px; }
.three_box img { opacity: 1; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.three_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ opacity: 0.2; }

/*  ------third   style   */
.four_box { background-color: #182141; width: 100%; height: 752px; }
.four_box img { margin-top: 140px; margin-bottom: 80px; }

.four_p p { color: #E0E1E4; }

/*  ------fourth   style   */
.five_box.four_box { background-color: #11162B; }

/*  ------fifth    style   */
.six_box { height: 752px; background-color: #182141; }
.six_box img { height: 150px; margin-bottom: 90px; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.six_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ }
.six_box .six_top { margin-top: 110px; line-height: 160px; }
.six_box .six_top span { color: #0185E3; font-size: 20px; }
.six_box .six_bottom { margin: 0; }
.six_box .six_bottom span { color: #FAFAFB; }

/*  ------buttom   style   */
.navbar-default.navbar-fixed-bottom, .bottom_box { background-color: #11162B; }
.navbar-default.navbar-fixed-bottom .bottom_top, .bottom_box .bottom_top { width: 515px; color: #F9F9F9; }
.navbar-default.navbar-fixed-bottom .bottom_top div, .bottom_box .bottom_top div { padding: 0; }
.navbar-default.navbar-fixed-bottom .bottom_top span, .bottom_box .bottom_top span { font: 20px, "microsoft Yahei"; border-right: 2px solid #F9F9F9; width: 130px; display: block; height: 23px; line-height: 25px; margin-top: 34px; }
.navbar-default.navbar-fixed-bottom .bottom_buttom, .bottom_box .bottom_buttom { color: #F9F9F9; margin-top: 20px; }

/*  ------brand   style   */
.active_a { background-color: #4B82EC; }

.cantent_box { height: 518px; }
.cantent_box ul { border: 1px solid #CCCCCC; width: 150px; border-radius: 5px 5px; margin-top: 140px; padding: 5px; }
.cantent_box ul li { width: 100%; }
.cantent_box ul li a { margin: auto; width: 80%; border-radius: 5px 5px; color: #000000; }
.cantent_box ul li a:hover { background-color: #CCCCCC; }
.cantent_box ul li a:focus { background-color: #4B82EC; }
.cantent_box ul li span { border-bottom: 1px solid #CCCCCC; width: 80%; display: block; margin: auto; width: 103px; }

.content_tupian img { height: 200px; margin-top: 15px; }

/*  ------register   style   */
.register_cantent_box { height: 520px; background-color: #FFFFFF; }

/*# sourceMappingURL=index.css.map */
