a { cursor: pointer; }

/*! yuan  style*/
.yuan_box { position: fixed; left: 95%; top: 40%; }
.yuan_box .yuan { border-radius: 50%; height: 10px; width: 10px; background-color: #84C0FF; margin-top: 15px; display: block; padding: 5px; }

.nav-tabs { border-bottom: none; }

/*! nav  style*/
.img { height: 70px; width: 235px; }

.nav_logo { padding: 11px 0px; }

.collapse .nav li { width: 15%; }
.collapse .nav li a { height: 90px; line-height: 90px; color: #FFFFFF; }
.collapse .nav li a span { height: 80px; width: 106px; display: block; }
.collapse .nav li a span:hover { border-bottom: 4px solid #4B82EC; padding-bottom: 20px; }
.collapse .nav li a:hover { color: #FFFFFF; }

#nav_ul { width: 62%; }
#nav_ul a { padding: 0; }

.nav_top { background-color: #182141; }

.top_right { margin-top: 33px; margin-right: 31px; }
.top_right img { height: 22px; width: 22px; background-color: #80BAF8; float: left; }
.top_right a { float: left; }
.top_right .nav_top_left { float: right; }
.top_right .nav_top_right { margin-right: 15px; }

.navbar-fixed-top { border-width: 0; }

/*  ------first   style   */
.video_style { padding: 0; margin-top: 90px; }

/*  ------second   style   */
.three_wenzi { color: #078CEE; }
.three_wenzi p { margin: 65px 0 60px; font: 30px, "microsoft Yahei"; font-size: 30px; }

.three_box { width: 100%; height: 752px; background-color: #11162B; padding-top: 75px; }
.three_box img { opacity: 1; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.three_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ opacity: 0.2; }

/*  ------third   style   */
.four_box { background-color: #182141; width: 100%; height: 752px; }
.four_box img { margin-top: 140px; margin-bottom: 80px; }

.four_p p { color: #E0E1E4; }

/*  ------fourth   style   */
.five_box.four_box { background-color: #11162B; }

/*  ------fifth    style   */
.six_box { height: 752px; background-color: #182141; }
.six_box img { height: 150px; margin-bottom: 90px; transition: all 1s linear; -moz-transition: all 1s linear; /* Firefox 4 */ -webkit-transition: all 1s linear; /* Safari and Chrome */ -o-transition: all 1s linear; }
.six_box img:hover { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); /* Safari and Chrome */ -moz-transform: rotateY(180deg); /* Firefox */ }
.six_box .six_top { margin-top: 110px; line-height: 160px; }
.six_box .six_top span { color: #0185E3; font-size: 20px; }
.six_box .six_bottom { margin: 0; }
.six_box .six_bottom span { color: #FAFAFB; }

/*  ------buttom   style   */
.navbar-default.navbar-fixed-bottom, .bottom_box { background-color: #11162B; }
.navbar-default.navbar-fixed-bottom .bottom_top, .bottom_box .bottom_top { width: 515px; color: #F9F9F9; }
.navbar-default.navbar-fixed-bottom .bottom_top div, .bottom_box .bottom_top div { padding: 0; }
.navbar-default.navbar-fixed-bottom .bottom_top span, .bottom_box .bottom_top span { font: 20px, "microsoft Yahei"; border-right: 2px solid #F9F9F9; width: 130px; display: block; height: 23px; line-height: 25px; margin-top: 17%; }
.navbar-default.navbar-fixed-bottom .bottom_buttom, .bottom_box .bottom_buttom { color: #F9F9F9; margin-top: 20px; }

/*  ------brand   style   */
.active_a { background-color: #4B82EC; }

.cantent_box ul { border: 1px solid #CCCCCC; border-radius: 5px 5px; margin-top: 10%; padding: 5px; }
.cantent_box ul li { width: 100%; }
.cantent_box ul li a { margin: auto; border-radius: 5px 5px; color: #000000; }
.cantent_box ul li a:hover { background-color: #CCCCCC; }
.cantent_box ul li a:focus { background-color: #4B82EC; }
.cantent_box ul li span { border-bottom: 1px solid #CCCCCC; width: 80%; display: block; margin: auto; }

.content_tupian img { margin-top: 15px; }

/*  ------register   style   */
@media (min-width: 768px) { .input_width { width: 83%; } }
.register_cantent_box { background-color: #FFFFFF; }
.register_cantent_box .row { margin: 3% auto; }
.register_cantent_box .register_hy { font-size: 23px; color: #CCCCCC; padding: 0; }
.register_cantent_box .register_dl { padding: 0; font-size: 16px; }
.register_cantent_box .register_dl p { color: #CCCCCC; }
.register_cantent_box .register_dl a { color: red; }
.register_cantent_box .col-md-10.col-md-offset-1 img { padding: 0; }
.register_cantent_box .register_input_1 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_1 input { border: 0; outline: none; width: 84%; }
.register_cantent_box .register_input_2 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_2 input { border: 0; outline: none; }
.register_cantent_box .register_input_2 button { background-color: #4B82EC; color: white; float: right; border: 0; }
.register_cantent_box .register_input_3 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_3 input { border: 0; outline: none; }
.register_cantent_box .register_input_4 { border-bottom: 1px solid #CCCCCC; }
.register_cantent_box .register_input_4 input { border: 0; outline: none; }
.register_cantent_box .register_bottom_but { background-color: #4B82EC; color: white; }
.register_cantent_box .register_inpbox_5, .register_cantent_box .register_bottom_but { margin-top: 10px; }
.register_cantent_box .register_inpbox_1, .register_cantent_box .register_inpbox_2, .register_cantent_box .register_inpbox_3, .register_cantent_box .register_inpbox_4 { height: 60px; }
.register_cantent_box .finish_border { border: 2px solid #CCCCCC; width: 91%; margin: 0 auto; margin-bottom: 40px; }
.register_cantent_box .finish_border p { margin: 45px 0; }
.register_cantent_box .finish_border button { height: 47px; width: 14%; margin-bottom: 50px; background-color: #4374D4; color: white; }

/*  ------news   style   */
.news_navbar { margin-bottom: 0; }

.news_row { margin-left: 130px; margin-right: 130px; margin-top: 3%; }
.news_row img { padding-left: 0; }
.news_row p:nth-child(2) { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.news_row .news_ck { background-color: #706F6F; color: white; height: 30px; width: 80px; text-align: center; display: block; padding-top: 4px; float: left; }
.news_row .news_ck + span { float: right; }

/*  ------serve   style   */
@media (max-width: 992px) { #serve_top_ma { margin-left: -6%; }
  .serve_top_p { margin-top: 10px; } }
@media (max-width: 768px) { #serve_top_ma { margin-left: -6%; }
  .serve_top_p { margin-top: 20px; } }
#serve_top_ma { margin-left: -16%; }

.serve_top_row { margin: 0 10%; margin-bottom: 1%; }
.serve_top_row img { margin-top: 2%; }
.serve_top_row div:nth-child(4) { margin-top: 3%; }
.serve_top_row div:nth-child(4) p:first-child { font-size: 20px; color: #F67A2F; margin-bottom: 0; }
.serve_top_row .serve_top_p { padding-left: 7%; }
.serve_top_row .serve_top_p P { margin-bottom: 0; }
.serve_top_row .serve_top_p p:first-child { border-bottom: 1px dashed #CCCCCC; padding-bottom: 5px; margin-bottom: 5px; }

.serve_top_row1 { margin: 4% 17%; }
.serve_top_row1 img { float: left; margin-right: 5px; }

.serve_center_p p:nth-of-type(1) { color: #000000; font-size: 18px; }
.serve_center_p p:nth-of-type(2) { color: #868686; }

.serve_yy { -webkit-box-shadow: 0 0 6px; -moz-box-shadow: 0 0 6px; box-shadow: 0 0 6px; border-bottom: 1px solid #CCCCCC; }

@media (max-width: 992px) { .serve_buttom { line-height: 40px; } }
.serve_buttom_box { margin: 4% 10%; }
.serve_buttom_box img { margin-right: 20px; }
.serve_buttom_box .serve_buttom { line-height: 80px; color: #4D83EC; margin-left: 5px; }

/*# sourceMappingURL=index.css.map */
