
body,input,button{
    font-family: "Microsoft YaHei","SimSun","SimHei","NSimSun","FangSong","KaiTi",;
}

a{
    cursor: pointer;
}
$pingheight:752px;
$fontcolor:#FFFFFF;
@mixin  font($size,$family){
    font: $size,$family;
}


@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}


.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.body_index{
    padding-top: 90px;
}


/*! yuan  style*/

.yuan_box{
    position: fixed;
    left: 95%;
    top: 40%;
    .yuan{
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #84C0FF;
        margin-top: 15px;
        display: block;
        padding: 5px;
    }
}
.nav-tabs{
    border-bottom: none;
}

/*! nav  style*/
@media screen and (device-width: 768px){
    .body_index{
        padding-top: 180px;
    }
    .top_right{
        position: absolute;
        top: 15px;
        right: 0;
    }
}
@media (max-width:768px){
    .navbar-header{
        height: 100px;
    }
    .navbar-fixed-bottom{
        position: none;
    }
    .navbar-fixed{
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
.navbar-fixed{
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
@media (min-width:992px) { 
    .nav_top{
        height: 90px;
    }
}
@media (min-width:768px) and (max-width: 992px){ 
    .navbar-header{
        margin-top: 6%;
    }
    .nav_box .top_right{
        margin-top: 65px;
    }
    .nav_li{
        margin-right: 1px;
    }
    .nav_sx1,.nav_sx2{
        display: none;
    }
}
.navbar{
    border: 0;
}
.collapse{
    .nav {
        li{
            a{
                height: 90px;
                line-height: 90px;
                color: $fontcolor;
            }
            a:hover{
                color: $fontcolor;
            }
            a:focus{
                color: #4B82EC;
            }
        }
    }
}

#nav_ul{
    padding-right: 0;
    font-size: 18px;
    a{
        padding: 0;
        padding-top: 20px;line-height: 52px;
    }
    li{
        padding: 0;
    }

    span:first-child{
        width: 72px;
    }
}
.nav_top{
    background-color: #182141;
}
.span_active{
    display: inline-block;
    height: 55px;
    border-bottom: 2px solid #4B82EC;
}
.top_right{
    margin-top: 35px;
    .nav_top_left{
        padding: 0;
        text-align: center;
    }
    .nav_top_right{
        padding: 0;
        text-align: center;
    }

}
.nav_sx2{
    height: 55px;
    border-left: 2px solid #3E4458;
    float: left;
    margin-top: 20px;
}
.nav_sx1{
    height: 55px;
    border-left: 2px solid #151B2F;
    float: left;
    margin-top: 20px;
}
.navbar-fixed-top{
    border-width:0;
}
/*
 *
 * ------first   style
 * 
 * 
 * */
.video_style{
    padding: 0;
}
/*
 *
 * ------second   style
 * 
 * 
 * */
@mixin transition1{
    transition:all 1s linear;
    -moz-transition:all 1s linear; /* Firefox 4 */
    -webkit-transition:all 1s linear; /* Safari and Chrome */
    -o-transition:all 1s linear;
}
@mixin transform1{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}


.three_wenzi{
    color: #078CEE;

    p{
        margin: 0 0 60px;
        @include font(30px,"microsoft Yahei");
        font-size: 30px;
    }
}
.three_box{
    width: 100%;
    height: $pingheight;
    background-color: #11162B;
    padding-top: 110px;
    img{
        opacity: 1;
        @include transition1;
    }
    img:hover{
        @include transform1;
        opacity: 0.2;
    }
}
/*
 *
 * ------third   style
 * 
 * 
 * */
.four_box{
    background-color: #182141;
    width: 100%;
    height: $pingheight;
    img{
        margin-top: 100px;
        margin-bottom: 80px;
    }
}
.four_p{
    p{
        color: #E0E1E4;
    }
}
/*
 *
 * ------fourth   style
 * 
 * 
 * */
.five_box.four_box{
    background-color: #11162B;
}
/*
 *
 * ------fifth    style
 * 
 * 
 * */
.six_box{
    height: $pingheight;
    background-color: #182141;
    img{
        height: 150px;
        margin-bottom: 90px;
        @include transition1;
    }
    img:hover{
        @include transform1;
    }
    .six_top{
        margin-top: 40px;
        line-height: 160px;
        span{
            color: #0185E3;
            font-size: 25px;
        }
    }
    .six_bottom{
        margin: 0;
        span{
            color: #FAFAFB;
        }
    }
}
/*
 *
 * ------buttom   style
 * 
 * 
 * */
@media (min-width:415px){
    .bottom_top{
        width: 515px;
        span{
            width: 130px;           
        }
    }
}
.navbar-default.navbar-fixed-bottom{
    background-color: #11162B;
    .bottom_top{
        color: #F9F9F9;
        div{
            padding: 0;
        }
        span{
            @include font(20px,"microsoft Yahei");
            border-right: 2px solid #F9F9F9;
            display: block;
            height: 23px;
            line-height: 25px;
            margin-top: 17%;
        }
    }
    .bottom_buttom{
        color: #F9F9F9;
        margin-top: 20px;
    }
}
.bottom_box{ //首页页脚
    @extend .navbar-default.navbar-fixed-bottom;
}

/*
 *
 * ------brand   style
 * 
 * 
 * */
$marginleft:20px;


@media (min-width:992px) { 
    .nav_top{
        height: 90px;
    }
}
.active_a{
    background-color: #4B82EC;
}
.cantent_box{
    margin-top: 15px;
    margin-bottom: 15px;
    ul{
        border: 1px solid #CCCCCC;
        border-radius: 5px 5px;
        margin-top: 10%;
        padding: 5px;
        li{
            width: 100%;
            a{
                margin: auto;
                border-radius: 5px 5px;
                color: #000000;

            }
            a:hover{
                background-color: #CCCCCC;
            }
            a:focus{
                background-color: #4B82EC;
            }
            span{
                border-bottom: 1px solid #CCCCCC;
                width: 80%;
                display: block;
                margin: auto;
            }
        }
    }

}
.content_tupian{
    img{

        margin-top: 15px;
    }
}

/*
 *
 * ------register   style
 * 
 * 
 * */

 @mixin input{
     border: 0;
    outline:none;
}
@mixin border{
    border-bottom: 1px solid #CCCCCC;
}
@media (min-width:768px) { 
    .input_width{
            width: 83%;
    }
}
@mixin padding{
    padding: 0;
}
.register_cantent_box{
    background-color: #FFFFFF;
    .row{
        margin: 3% auto;
    }
    .register_hy{
        font-size: 23px;
        color: #CCCCCC;
        @include padding;
    }
    .register_dl{
        @include padding;
        font-size: 16px;
        p{
            color: #CCCCCC;
        }
        a{
            color: red;
        }
    }
    .col-md-10.col-md-offset-1{
        img{
            @include padding;
        }
    }

    .register_input_1{
        @include border;
        input{
            @include input;
            width: 84%;
        }
    }
    .register_input_2{
        @include border;
        input{
            @include input;
            width: 89%;
        }
        button{
            background-color: #4B82EC;
            color: white;
            float: right;
            border: 0;
        }
    }
    .register_input_3{
        @include border;
        input{
            @include input;
        }
    }
    .register_input_4{
        @include border;
        input{
            @include input;
        }
    }
    .register_bottom_but{
        background-color: #4B82EC;
        @extend .register_inpbox_5;
        color: white;
    }
    .register_inpbox_5{
        margin-top: 10px;
    }
    .register_inpbox_1,.register_inpbox_2,.register_inpbox_3,.register_inpbox_4{
        height: 60px;
    }
    .finish_border{
        border: 2px solid #CCCCCC;
        width: 91%;
        margin: 0 auto;
        margin-bottom: 40px;
        p{
            margin: 45px 0;
        }
        button{
            height: 47px;
            margin-bottom: 50px;
            background-color: #4374D4;
            a{
                color: white;
            }
        }
    }
    .register_password_check{
        display: none;
        span{
            display: block;
        }
        div{
            margin-top: 5px;
           .password_border1{
               border: 2px solid red;
           }
           .password_border2{
               border: 2px solid #CCCCCC;
           }
           .password_border3{
               border: 2px solid #CCCCCC;
           }
        }
    }
}


.icon_red{
    color: red;
}
.icon_green{
    color: green;
}
/*
 *
 * ------news   style
 * 
 * 
 * */


.news_navbar{
    margin-bottom: 0;
}
.news_row:hover{
    cursor: pointer;
}
@media (min-width:768px) { 
    .news_row{
        margin-left: 130px;
        margin-right: 130px;
    }
}
.news_row{

    margin-top: 3%;
    p:nth-child(2){
        white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    }
    .news_ck{
        background-color: #706F6F;
        color: white;
        height: 30px;
        width: 80px;
        text-align: center;
        display: block;
        padding-top: 4px;
        float: left;
    }
    .news_ck+span{
        float: right;
    }
    .news_img_box{
        border: 1px solid #A7A7A7;
        padding: 5px;
    }
    .news_hx{
        border:1px solid #A7A7A7; 
        margin-top: 10px;
    }
}
#news_img_change{
    border: 1px solid red;
}
#news_p_change{
    color: red;
}
#news_span_change{
    background-color: red;
}

/*
 *
 * ------serve   style
 * 
 * 
 * */
@media (max-width:992px) { 
    #serve_top_ma{
            margin-left: -6%;
    }
    .serve_top_p{
        margin-top: 10px;
    }
}
@media (max-width:768px) { 
    #serve_top_ma{
            margin-left: -6%;
    }
    .serve_top_p{
        margin-top: 20px;
    }
}
#serve_top_ma{
    margin-left: -16%;
}
.serve_top_row{
    margin: 2% 3% 2% 10%;

    img{
        margin-top: 2%;
    }
    div:nth-child(4){
        margin-top: 3%;
        p:first-child{
             font-size: 20px;
             color: #F67A2F;
             margin-bottom: 0;
        }
    }
    .serve_top_p{
        
        P{
            margin-bottom: 0;
        }
        p:first-child{
        border-bottom: 1px dashed #CCCCCC;
        padding-bottom: 5px;
        margin-bottom: 5px;        
        }
    }
}
.serve_top_row1{
    margin: 4% 17%;
    img{
        float: left;
        margin-right: 5px;
    }
}
.serve_center_p{
    p:nth-of-type(1){
        color: #000000;
        font-size: 18px;
    }
    p:nth-of-type(2){
        color: #868686;
    }
}
.serve_yy{
      -webkit-box-shadow:0 0 6px;  
  -moz-box-shadow:0 0 6px;  
  box-shadow:0 0 6px;  
  border-bottom: 1px solid #CCCCCC;
}

@media (max-width:992px) { 
    .serve_buttom{
        line-height: 40px;
    }
}
.serve_buttom_box{
    margin: 4% 10%;
    img{
        margin-right: 20px;
    }
    .serve_buttom{
        line-height: 80px;
        color: #4D83EC;
        margin-left: 5px;
    }
    p{
        
    }
}
/*
 *
 * ------·member   style
 * 
 * 
 * */
@mixin member_i{
    color: white; 
    margin: 0 auto;     
}
.member_content_box{
    background-color: rgba(0, 0, 0, 0.5);
    height: 325px;
    width: 300px;
    padding-top: 2%;
    float: right;
    .mima{
        color: white;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    .member_input_top{
        height: 35px; 
        margin: 0 auto;
    }
    .member_input_topleft{
        background-color: #DDDDDD; 
        width: 35px; 
        height: 35px; 
        float: left;
        border-radius: 3px 0 0 3px;
    }
    .first{
        @include member_i;
        font-size: 25px;
    }
    .member_input_topright{
        border: 0; 
        float: left; 
        height: 35px; 
        padding-left: 5px;
        width: 87%;
    }
    .member_input_bottomleft{
        @extend .member_input_topleft;
    }
    .last{
        @include member_i;
        font-size: 28px;
    }
    .member_input_bottomright{
        @extend .member_input_topright;
    }
    .member_btn{
        width: 100%;
        padding: 0;
        border: 0;
        height: 40px;
        color: white;
        background-color: #FF4400;
        margin-top: 7%;
        border-radius: 5px;
    }
    .member_bottom{
        color: white;
        margin-left: 50%;
        margin-top: 22%;
    }
    .member_span{
        margin-left: 10%;
    }
}
.member_denglu{
    position: relative;
    width: 990px;
    height: auto;
    min-height: 450px;
    margin: 0 auto;
    padding: 50px 0;
}
.bg_box{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
.member_bg{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
@media (max-width:768px) { 
    .member_denglu{
        width: 100%;
    }
    .member_content_box{
        float: none;
        margin: 27px auto;
    }
}
@media (max-width:320px) { 
    #denglu{
        display: none;
    }
}
/*
 *
 * ------ contact   style
 * 
 * 
 * */
@media (max-width:992px) { 
    .contact_input_box{
        padding-right: 0;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .top_right{
        padding-right: 0;
    }
}
.top_right{
    float: right;
}
.contact_img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact_input_box{
    padding-left: 0;
    input{
        margin-bottom: 13px;
    }
}
.denglu_yh{
    p{
        color: white;
    }
}


/*
 *
 * ------ forget_paddword   style
 * 
 * 
 * */
.forget_content{
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
    p{
        font-size: 17px;
        font-weight: bold;
        color: #656565;
    }
    .content_p1{
        padding-left: 10px;
    }
    .content_p2{
        border-bottom: 3px solid #407AEC;
        width: 100px;
        float: left;
        margin-top: -1px;
    }
    .content_p3{
        border-bottom: 1px solid #6492ED;
        width: 924px;
        float: right;
    }
    .forget_input1{
        text-align: center;
        margin: 80px 0 30px 0;
        div{
            display: inline-block;
            border: 1px solid #97B5EF;
            width: 250px;
        }
        input{
            outline: none;
            border: 0;
            width: 100%;
        }
    }
    .forget_input2{
        @extend .forget_input1;
        padding-left: 14px;
        margin: 0;
    }
    .forget_yzm{
        text-align: center;
        margin: 15px 0;
        padding-left: 188px;
        img{
            height: 25px;
            width: 105px;
        }
    }
    button{
        height: 40px;
        width: 250px;
        margin-left: 423px;
        color: white;
        background: #5696EF;
        border: 0;
        border-radius: 4px
    }
    .forget_bottom{
        text-align: center;
        padding-left: 65px;
        margin-top: 20px;
        span{
            color: red;
        }
    }
}






















